---
language: go

services:
  - mongodb
addons:
  apt:
    sources:
      - mongodb-3.2-precise
    packages:
      - mongodb-org-server

go:
  - "1.9"
  - "1.10"
  - "1.11"

env:
  - git-gateway_MONGODB_TEST_CONN_URL=127.0.0.1

install: make deps
script: make all

notifications:
    email: false
